@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300;1,400;1,700&display=swap'); 

* {
    border: none;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
  
body {
    display: flex;
    position: relative;
    flex-direction: column;
    color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    background-image: linear-gradient(rgba(87, 70, 243, 0.671), rgba(207, 129, 39, 0.671)),
                  url("../imgs/background2.jpg");
                  background-repeat: no-repeat;
                  background-size: cover;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
    max-width: 80rem;
    min-width: 15rem;
    min-height: 1rem;
    height: 53rem;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 18px;
    border-radius: 15px;
}
  
  
section:hover {
    min-height: 15.5rem;
    min-width: 50.3rem;
    transition: 0.3s;
    box-shadow: 1px 1px 10px 5px rgba(154, 66, 255, 0.856);
    cursor: pointer;
}
  
  
h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
}
  
img {
    max-height: 70rem;
    max-width: 40%;
    flex: 1;
    border-radius: 80px;
    box-shadow: 1px 1px 30px 3px #000;
    margin-right: 1.2rem;
    border-right: 1px solid rgb(235, 95, 95);
}

img:hover {
    box-shadow: 1px 1px 30px 4px #3b1753;
    border-right: 4px solid rgb(154, 66, 255);
    border-bottom: 3px solid rgb(98, 27, 180);
    border-left: 2px solid rgb(66, 154, 255);
    border-top: 1px solid rgb(38, 138, 253);
    transition: 0.5 s;
}

.blue {
    flex: 2;
}


p {
    border-left: 1px solid rgb(211, 128, 19);
    padding-left: 8px;
}
  
.conteudo {
    display: flex;
    align-items: center; 
}