@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    border: none;
    margin: 0 auto;
    /* padding: auto; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

img {
    height: 20%;
    width: 38%;
    /* Alteração: Definir a largura da imagem */
    /* flex: 1; */
    border-radius: 80px;
    box-shadow: 1px 1px 30px 3px #000;
    margin-right: 1.2rem;
    border-right: 3px solid rgb(154, 66, 255);
}

img:hover {
    box-shadow: 1px 1px 30px 4px #3b1753;
    border-right: 4px solid rgb(154, 66, 255);
    border-bottom: 3px solid rgb(98, 27, 180);
    border-left: 2px solid rgb(66, 154, 255);
    border-top: 1px solid rgb(38, 138, 253);
    transition: 0.5 s;
}

/* body */

body {
    display: flex;
    flex-direction: column;
    color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    background: linear-gradient(167.65deg, #100e2bf3, #5f497ae5 100%) no-repeat fixed;
    background-color: rgb(3, 2, 39);

    height: 100vh;

}

.tudo {
    display: flex;
}

.avestruzI {
    height: 90rem;
    width: 35rem;
    background-color: #0a0620b0;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
    margin-top: 0.8rem;
}

.avestruzI h1 {
    text-align: center;
}

.avestruzI img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin-left: 30%;
}

.testeG {
    display: block;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
    max-width: 50rem;
    min-width: 15rem;
    min-height: 1rem;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 18px;
    border-radius: 15px;
}

section:hover {
    transition: 0.3s;
    box-shadow: 1px 1px 10px 5px rgba(154, 66, 255, 0.856);
    cursor: pointer;
}

.avestruz img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 10%;
    max-width: 40%;
    flex: 1;
    border-radius: 80px;
    box-shadow: 1px 1px 30px 3px #000;
    margin-right: 1.2rem;
    border-right: 1px solid rgb(235, 95, 95);

}

section .texto {
    display: flex;
}

.testeG section img {
    height: 27.2rem;
}

@media screen and (max-width: 1025px) {

    html,
    body {
        overflow-x: hidden;
    }

    .tudo {
        flex-direction: column;
    }

    .avestruzI {
        width: 78%;
        height: 100%;
    }

    .testeG {
        width: 82%;
    }

    .texto img {
        max-height: 30rem;
    }
}

@media screen and (max-width: 840px) and (min-width: 420px) {

    html,
    body {
        overflow-x: hidden;
    }

    .tudo {
        flex-direction: column;
    }

    .avestruzI {
        width: 78%;
        height: 100%;
    }

    .testeG {
        width: 82%;
    }

    .texto {
        padding: 1rem;
    }

    section.section .conteudo {
        display: flex;
        align-items: center;
    }

    .texto img {
        max-height: 20rem;
        min-width: 10rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    
}